<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--     <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="C:\Users\akshay gowda\Desktop\Web\Textify\style.css">
</head>

<body>

    <div>
        <h1 id="head1">Textify</h1>
        <p id="head2"> Because Text Messaging Rock</p>
        <a id="anchor" href="logout">Logout</a>
    </div>


    <!-- contactDetails -->
    <div style="text-align: center;">
        <h1 id="number">(212) 555-1234</h1>
        <a href="nolink">What is this number?</a>
    </div>

    <!-- MailBox -->
    <div id="mailbox">

        <div>
            <h3 id="marginLeft"> To:
                <Select id="selectid">
            <option></option></h3>
        </select>
        </div>
        <p id="phone"><< Phone number or Name</p>

        <div id="Address">
            <h3>
                Message: <textarea style="resize:none"></textarea>
            </h3>
            <a href="nolink" style="margin-left: 75px;">Attach a photo to the text Message</a>

        </div>
        <div id="div3">
            <p style="text-align: center;">Send Text Message</p>
        </div>
        <p id="later"> Or, <a href>schedule it for later delivery</ahref></p>
       
    </div>

    <div id="div7">Recent Conversation</div>
    <div id="div8"><a href>All Conversation</a href></div>
    <div id="div9"><a href>Photos</a href></div>
    <div id="div10"><a href>Change Password</a href></div>

        <div id="div11">
                <div id="div12">
                    <p id="num">(508) 555-1234</p>
                    <p id="new2"><b>New Text Message:</b></p>
                </div>
                <p id="new"> <a href>Set a name for the number</a href></p>
                    <p id="new1"> <a href>View All Conversations>></a href></p></div>
            <div id="div13">
            </div>
            <div id="div14"><a href><p style="text-align:center;">Send Message</p></a href></div>
           
            
</body>

</html>